<h1>Candidate Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grouped_candidate_tasks.each do |candidate_row_name, task_descriptions| %>
      <tr>
        <td><%= "#{candidate_row_name}" %></td>
        <td>
          <% if task_descriptions.any? %>
            <ul>
              <% task_descriptions.each do |description| %>
                <li><%= description%></li>
              <% end %>
            </ul>
          <% else %>
            no tasks assigned yet
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
